<h3>Register</h3>

<form action="/register" method="POST">

    <label for="firstname"><b>Firstname</b></label>
    <input type="text" name="firstname" id="" placeholder="Enter Firstname">  
    
    <label for="lastname"><b>Lastname</b></label>
    <input type="text" name="lastname" id="" placeholder="Enter Lastname">  

    <label for="username"><b>Username</b></label>
    <input type="text" name="username" id="" placeholder="Enter Username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="" placeholder="Enter Password">


    <input type="submit" value="Register" class="btn">
    
</form>

<p>Already Have an account? <a href="/admin-login">Login</a></p>