<%- include("partials/header"); -%>

<section>
    <div class="header-section">
        <h1 class="welcome-text">About BlogShpere</h1>
        <br>
        <p class="welcome-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur aperiam sapiente repellendus natus molestias cum id accusamus, sit deleniti, praesentium repellat veritatis libero labore voluptas, obcaecati reiciendis eius iure in. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et in dolore sed vitae accusantium nulla eveniet quia, natus ab. Dicta doloribus sed quis, at iste a dolor in necessitatibus veritatis? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti at, neque mollitia deserunt iusto quaerat perspiciatis perferendis tempora minima voluptas unde nihil consectetur iste sunt qui dignissimos consequuntur assumenda quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae velit odio quaerat, voluptates laborum quae? Accusantium sit officia recusandae explicabo molestias commodi incidunt, voluptatibus facilis a maiores eos voluptatum mollitia.</p>
    </div>
</section>


<footer style="position: fixed;">
    <p>
        BlogSphere @All Rights Reserved
    </p>
</footer>
<a href="#top" class="go-to-top">
    <i class='fas fa-angle-double-up' style='font-size:24px'></i>
</a>
<script src="/js/script.js"></script>   
</body>
</html>