<h3>Register</h3>

<form action="/registeruser" method="POST">

    <label for="firstname"><b>Firstname</b></label>
    <input type="text" name="firstname" id="" placeholder="Enter Firstname">  
    
    <label for="lastname"><b>Lastname</b></label>
    <input type="text" name="lastname" id="" placeholder="Enter Lastname">  

    <label for="email"><b>Email</b></label>
    <input type="text" name="email" id="" placeholder="Enter email">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="" placeholder="Enter Password">


    <input type="submit" value="Register" class="btn">
    
</form>

<p>Already have an account? <a href="/SignIn">Login</a> </p>