<h3>Sign In</h3>

<form action="/login" method="POST">

    <label for="email"><b>Email</b></label>
    <input type="text" name="email" id="" placeholder="Enter email">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="" placeholder="Enter Password">


    <input type="submit" value="Login" class="btn">

</form>

<p>Don't have an account? <a href="/User">Create One</a> </p>